<mat-toolbar color="primary">    
    <button mat-icon-button (click)="location.back()">
        <mat-icon aria-label="Example icon-button with a heart icon">chevron_left</mat-icon>
    </button>
    <span>Exposure Calculator</span>    
</mat-toolbar>

<div class="result" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
    <mat-card class="item" fxFlex>
        <mat-card-title>Aperture</mat-card-title>
        <mat-form-field>
            <input #fstopInput matInput name="fstop" type="number" placeholder="F-Stop" [(ngModel)]="currentFStop" (blur)="onValueChanged(fstopInput.name)">
        </mat-form-field>
    </mat-card>

    <mat-card class="item" fxFlex>
        <mat-card-title>Exposure time</mat-card-title>
        <mat-form-field>
            <input #timeInput matInput name="time" type="number" placeholder="Exposure time (s)" [(ngModel)]="currentTime" (blur)="onValueChanged(timeInput.name)">
        </mat-form-field>
    </mat-card> 

    <mat-card class="item" fxFlex>
        <mat-card-title>ISO Sensitivity</mat-card-title>
        <mat-form-field>
            <input #isoInput matInput name="iso" type="number" placeholder="ISO" [(ngModel)]="currentISO" (blur)="onValueChanged(isoInput.name)">
        </mat-form-field>
    </mat-card>

    <mat-card class="item" fxFlex>
        <mat-card-title>Exposure value</mat-card-title>
        <mat-form-field>
            <input matInput disabled type="number" placeholder="Exposure value (EV)" [(ngModel)]="currentEV">
        </mat-form-field>
    </mat-card>

    <button mat-raised-button (click)="onButtonStateChange()">{{ evLocked ? 'Unlock' : 'Lock' }}</button>
</div>
