<mat-toolbar color="primary">    
    <button mat-icon-button (click)="location.back()">
        <mat-icon aria-label="Example icon-button with a heart icon">chevron_left</mat-icon>
    </button>
    <span>Exposure Calculator</span>    
</mat-toolbar>

<div class="result" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
    <mat-card class="item" fxFlex>
        <mat-card-title>Aperture</mat-card-title>
        <mat-form-field>
            <input matInput type="number" placeholder="F-Stop" [(ngModel)]="currentFStop" (blur)="elementOnBlur()" value="5.6">
        </mat-form-field>
    </mat-card>

    <mat-card class="item" fxFlex>
        <mat-card-title>ISO Sensitivity</mat-card-title>
        <mat-form-field>
            <input matInput type="number" placeholder="ISO" [(ngModel)]="currentISO" (blur)="elementOnBlur()" value="100">
        </mat-form-field>
    </mat-card>

    <mat-card class="item" fxFlex>
        <mat-card-title>Exposure time</mat-card-title>
        <mat-form-field>
            <input matInput type="number" placeholder="Exposure time (s)" [(ngModel)]="currentTime" (blur)="elementOnBlur()" value="0.1">
        </mat-form-field>
    </mat-card>

    <button matButton (click)="buttonOnClick()">Lock</button>
</div>
