<mat-toolbar color="primary">    
        <button mat-raised-button color="primary" (click)="location.back()">
            Back
        </button>
        <span>Exposure Calculator</span>    
    </mat-toolbar>

<mat-form-field>
    <input matInput type="number" placeholder="F-Stop" [(ngModel)]="fstop" value="5.6">
</mat-form-field>

<mat-form-field>
    <input matInput type="number" placeholder="ISO" [(ngModel)]="iso" value="100">
</mat-form-field>

<mat-form-field>
    <input matInput type="number" placeholder="Exposure time (s)" [(ngModel)]="time" value="0.1">
</mat-form-field>

<mat-form-field>
    <input matInput type="number" placeholder="Neutral density (ND)" [(ngModel)]="exposure" value="8">
</mat-form-field>

<mat-divider></mat-divider>
<mat-card-subtitle>Equivalent settings:</mat-card-subtitle>

<mat-form-field>
        <mat-select [(ngModel)]="option" (selectionChange)="change()" placeholder="Target">
            <mat-option value="fstop">F-Stop</mat-option>
            <mat-option value="iso">ISO</mat-option>
            <mat-option value="time">Exposure time</mat-option>
            <mat-option value="value">Exposure value</mat-option>
        </mat-select>
</mat-form-field>

<mat-form-field>
    <input matInput type="number" placeholder="F-Stop" [(ngModel)]="fstop_c" value="5.6">
</mat-form-field>

<mat-form-field>
    <input matInput type="number" placeholder="ISO" [(ngModel)]="iso_c" value="100">
</mat-form-field>

<mat-form-field>
    <input matInput type="number" placeholder="Exposure time (s)" [(ngModel)]="time_c" value="0.1">
</mat-form-field>