<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
        <mat-icon aria-label="icon-button with a back icon">chevron_left</mat-icon>
    </button>
    <span>Auto Tagger</span>
    <span class="spacer"></span>
    <button *ngIf="legacy" mat-icon-button (click)="openLegacyDialog()">
      <mat-icon aria-label="icon-button with a warning icon" color="warn">warning</mat-icon>
    </button>
</mat-toolbar>

<div class="container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around start">
  <mat-card fxFlex="calc(50% - 48px)" fxFlex.lt-sm="100%">
    <mat-card-content>
        <div #dropzone class="dropzone" (drop)="drop($event)" (dragover)="allowDrop($event)" (click)="handleClick()">
          <img #srcImage [ngStyle]="{'display': showImage ? 'block' : 'none' }" />
          <div class="message" *ngIf="!showImage">
            <div><mat-icon>add_photo_alternate</mat-icon></div>
            <div>Upload an image</div>
          </div>
        </div>
        <input #inputFile id="file" type="file" name="name" style="display: none;" />
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="calc(50% - 48px)" fxFlex.lt-sm="100%">
    <mat-card-title fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around start">
        <span fxFlex>Tags <span *ngIf="selectedTags.length"> ({{selectedTags.length}})</span></span>
        <span class="spacer"></span>
        <mat-checkbox (change)="togglePrefix()">#</mat-checkbox>
        <button mat-icon-button (click)="copySelectedItems()" [disabled]="selectedTags.length === 0">
          <mat-icon aria-label="icon-button with a back icon">file_copy</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content class="taglist">
      <mat-button-toggle [ngClass]="this.checked === true ? 'mat-raised-button mat-primary' : 'mat-stroked-button'"
      (change)="toggleTag($event)" [value]="tag.name" *ngFor="let tag of tags">
        {{prefix + tag.name}}
      </mat-button-toggle>
    </mat-card-content>
  </mat-card>

  <div class="loading" *ngIf="message">
    <mat-progress-spinner [mode]="spinner.mode" [value]="spinner.value" color="warn"></mat-progress-spinner>
    <div class="message">{{message}}</div>
  </div>
</div>
