<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
        <mat-icon aria-label="icon-button with a back icon">chevron_left</mat-icon>
    </button>
    <span>Auto Tagger</span>
    <span class="spacer"></span>
</mat-toolbar>

<div class="container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around start">
  <mat-card fxFlex="calc(50% - 48px)" fxFlex.lt-sm="100%">
    <mat-card-content>
        <div #dropzone class="dropzone" (drop)="drop($event)" (dragover)="allowDrop($event)" (click)="handleClick()">
          <img #srcImage [ngStyle]="{'display': showImage ? 'block' : 'none' }" />
          <div class="message" *ngIf="!showImage">
            <div><mat-icon>add_photo_alternate</mat-icon></div>
            <div>Upload an image</div>
          </div>
        </div>
        <input #inputFile id="file" type="file" name="name" style="display: none;" />
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="calc(50% - 48px)" fxFlex.lt-sm="100%">
    <mat-card-title fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around start">
        <span fxFlex>Tags <span *ngIf="selectedTags.selectedOptions.selected.length"> ({{selectedTags.selectedOptions.selected.length}})</span></span>
        <span class="spacer"></span>
        <mat-checkbox (change)="togglePrefix()">#</mat-checkbox>
        <button mat-icon-button (click)="copySelectedItems()" [disabled]="selectedTags.selectedOptions.selected.length === 0">
          <mat-icon aria-label="icon-button with a back icon">file_copy</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
      <mat-selection-list #selectedTags>
          <mat-list-option *ngFor="let item of result" [value]="prefix + item.category">
            {{(item.probability * 100).toFixed(2) + '%'}} - {{prefix + item.category}}
          </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
  </mat-card>

  <div class="loading" *ngIf="message !== undefined">
    <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
    <div class="message">{{message}}</div>
  </div>
</div>
