.mat-form-field {
    margin-right: 20px;
}

div.result .item {
    padding: 5px;
    text-align: center;
}
div.result .item .colorfield {
    width: 15px;
    height: 15px;
    display: inline-block
}
div.result .item .mat-card-title {
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;    
}