.container {
    position: relative;
}

.ui {
    position: absolute;
    top: 0px;
    width: 250px;
    height: 40px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    margin-left: -125px;
    left: 50%;
}