<div class="app-menu" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
  <div fxFlex="33" fxFlex.lt-sm="50">
      <mat-card routerLink="/exposure" routerLinkActive="active">
        <mat-card-title>
            Exposure
          </mat-card-title>              
        <mat-icon>exposure</mat-icon>
      </mat-card>
  </div>

  <div fxFlex="33" fxFlex.lt-sm="50">
      <mat-card routerLink="/dof">
          <mat-card-title> 
            Depth of Field
          </mat-card-title>
          <mat-icon>camera</mat-icon>
      </mat-card>
  </div>

  <div fxFlex="33" fxFlex.lt-sm="50">
      <mat-card routerLink="/inspiration">
          <mat-card-title> 
            AR Inspiration
          </mat-card-title>
          <mat-icon>image_search</mat-icon>
      </mat-card>
  </div>
</div>
