<div class="app-menu">
    <div class="logo">
        <img src="assets/images/photils-logo-inverted-transperent.png" />
    </div>
    <ul>
    <li>
        <mat-card routerLink="/exposure" routerLinkActive="active">
            <mat-card-title>
                Exposure
            </mat-card-title>
            <mat-icon>exposure</mat-icon>
        </mat-card>
    </li>

    <li>
        <mat-card routerLink="/dof">
            <mat-card-title>
                Depth of Field
            </mat-card-title>
            <mat-icon>nature_people</mat-icon>
        </mat-card>
    </li>

    <li>
        <mat-card routerLink="/inspiration">
            <mat-card-title>
                AR Inspiration
            </mat-card-title>
            <mat-icon>image_search</mat-icon>
        </mat-card>
    </li>

    <!-- <li>
        <mat-card routerLink="/sun">
            <mat-card-title>
            Sun Calculator
            </mat-card-title>
            <mat-icon>wb_sunny</mat-icon>
        </mat-card>
    </li> -->

    <li>
        <mat-card routerLink="/autotagger">
            <mat-card-title>
            Auto Tagger
            </mat-card-title>
            <mat-icon>local_offer</mat-icon>
        </mat-card>
    </li>

    <li>
        <mat-card routerLink="/about">
            <mat-card-title>
            About
            </mat-card-title>
            <mat-icon>info_outline</mat-icon>
        </mat-card>
    </li>

    <li>
        <mat-card routerLink="/settings">
            <mat-card-title>
            Settings
            </mat-card-title>
            <mat-icon>settings</mat-icon>
        </mat-card>
    </li>
</ul>

</div>