<div class="app-menu">
    <ul>
    <li>
        <mat-card routerLink="/exposure" routerLinkActive="active">
            <mat-card-title>
                Exposure
            </mat-card-title>
            <mat-icon>exposure</mat-icon>
        </mat-card>
    </li>

    <li>
        <mat-card routerLink="/dof">
            <mat-card-title>
                Depth of Field
            </mat-card-title>
            <mat-icon>nature_people</mat-icon>
        </mat-card>
    </li>

    <li>
        <mat-card routerLink="/inspiration">
            <mat-card-title>
                AR Inspiration
            </mat-card-title>
            <mat-icon>image_search</mat-icon>
        </mat-card>
    </li>

    <li>
        <mat-card routerLink="/sun">
            <mat-card-title>
            Sun Calculator
            </mat-card-title>
            <mat-icon>wb_sunny</mat-icon>
        </mat-card>
    </li>
</ul>
</div>
<div *ngIf="isDevMode" class="warning">
    You are working on the development version of <i>Photils</i>. Please keep in mind it could be really buggy.
</div>
