<!--The content below is only a placeholder and can be replaced.-->
<div  *ngIf="isRoot">
  <mat-grid-list cols="2" rowHeight="4:3" gutterSize="10px">
      <mat-grid-tile>
          <mat-card>
              <mat-card-title>
                  <a routerLink="/exposure" routerLinkActive="active">Exposure</a>
              </mat-card-title>
          </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-card>
              <mat-card-title>
                      <a routerLink="/dof" routerLinkActive="active">Depth of Field</a>
              </mat-card-title>
          </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-toolbar *ngIf="isRoot == false">    
    <button mat-button (click)="goBack()">
        Back
    </button>
    <span>My Application</span>    
</mat-toolbar>

<router-outlet></router-outlet>

